/* GENERALE */

.container
{
    display: flex;
	justify-content: space-around;
    width: 1100px;
    margin: auto;
}

#left-column
{
	background-color:#FECA07;
	display:flex;
	flex-direction:column;
	width:auto;
}



/* COLONNE DE DROITE */

#profil
{
	border-radius: 50%;
	border: 6px solid rgba(0,0,0,0.25);
}

#d_profil 
{
	text-align:center;
	margin-top:20px;
}

#contact p
{
	margin-left:30px;
}

#about p 
{
	margin-left: 30px;
	margin-right: 30px;
	text-align:justify;
}

#left-column h2
{
	background-color:rgb(64,64,64);
	color:#FECA07;
	text-transform:uppercase;
	text-align:center;	
}

#hobbies img
{
	border-radius:50%;
	border:2px solid rgb(0,0,0);
	
}

#icone
{
	display: flex;
	justify-content: space-around;
}

/* COLONNE DE GAUCHE */

h1
{
	text-transform:uppercase;
	font-size:3em;
}

#right-column h2
{
	text-transform:uppercase;
}

#name p
{
	font-size:2em;
}

#right-column
{
	margin-left:5%;
}

.box
{
    display:flex;
}



.box p
{
    margin: 0px;
}

hr
{
    background-color:#FECA07;
    border: 0px;
    height: 2px;
}

#name
{
     margin-top: 50px;
	 margin-bottom: 100px;
}

.petit-trait
{
    border-top: 2px solid #FECA07;
    margin: -30px;
    margin-left: 0px;
    width: 80px;
}

#exp-pro h2
{
	margin-top:50px;
}

#recommandations
{
	margin-top: 50px;
}

li
{
	min-width:150px;
}

h3, h4
{
	margin:0 0 8px 0;
}

h3
{
	text-transform: uppercase;
}

h4
{
	font-weight:normal;
}



ul li 
{
	color: #FECA07;
	font-weight:bold;
}

#noir {
	color: black;
}