/* GENERALE */

.container
{
    display: flex;
	flex-direction:column;
}

#left-column:nth-child(1)
{
	order: 1;
}

#right-column
{
	width:90%;
	margin:auto;
}

#left-column
{
	width:90%;
	margin:auto;
}
